.login-container {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.switch-button {
    margin-bottom: 25px;
}

.login-button {
    margin-top: 25px;
}

.login-control {
    margin-top: 20px;
    margin-bottom: 20px;
}

.login-status {
    color: red;
}